{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <title>Django-cv</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <div id="header"></div>
</head>
<body>
    <p><center><img src="{% static 'Capture.jpg' %}" alt="Image" style="width:555px;height:540px;"></center></p>
    <H1><center><a href="https://github.com/roman-pyth/djangos" style="color:red;" target="_blank">Work in progress </a></center></H1>
</body>
</html>
